header{
  display: flex;
  border-bottom: 1px solid gray;
  width:100%;
  height: 80px;
  /*position: fixed;*/
  background-color: white;
}
header .menu-list {
  flex:1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
header .menu-list li{
  color:black;
}
header .menu-icon{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu-icon img{
  width:3rem;
  height: auto;
}
header .menu-link{
  flex:1;
}
