html, body{
  margin: 0px;
  padding: 0px;
}
li{
  list-style: none;
}
*{
  justify-content:
}
body{
  /*margin-top: 80px;*/
}
a:link { color: orange; text-decoration: none;}
a:visited { color: orange; text-decoration: none;}
a:hover { color: orange; text-decoration: none;}

#p1{
  width:100%;
  /*padding-top: 80px;*/
  height: 300px;
  border: 1px solid black;
  background-image: url('../img/background.png');
  background-size: cover;;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
#p1 .title-text{
  color:white;
  font-size: 50pt;
  padding-left: 1rem;
  font-family: "Raleway";

}
#p2{
  padding-top: 2rem;
  /*width:100%;*/
}
#p2 .title-text{
  text-align: center;
  color:black;
  font-size: 30pt;
  padding-left: 1rem;
  font-family: "Raleway";

}
#p2 .title-text span{
  border-bottom: 1px solid gray;
}
#p2 .title-sub-text{
  text-align: center;
  margin-top: 1rem;
  color: gray;
  font-size: 12pt;
  font-family: "Raleway";
}
#p2 .project-group{
  margin-top: 2rem;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}
#p2 .project-group .project-card img{
  width:200px;
  height: auto;
}
#p2 .project-group .project-card{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  /*float: left;*/
  flex-direction: column;
  border: 1px solid black;
    margin-bottom: 2rem;
}
#p2 .project-group .project-card .project-index{
  padding: 1rem;
}
#p2 .project-group .project-card .project-index .project-name{
  font-size: 12pt;
}
#p2 .project-group .project-card .project-index .project-sub-index{
  margin-top: 0.5rem;
  font-size: 9pt;
  color: gray;
}
#p2 .project-group .project-card .project-index .project-view{
  margin-top: 0.5rem;
  font-size: 10pt;
}
@media (max-width : 768px) {
  #p2 .title-sub-text{
    font-size: 9pt;
  }
}
<<<<<<< HEAD
.project-pop{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  pointer-events: none;
}
.project-pop:target{
  display: block;
  pointer-events: auto;
}
.project-pop .project-pop-outline{
  position: absolute;
	top: 20%;
	left: 20%;
	width: 60%;
  height: 60%;
  box-shadow: 10px 10px 5px #2F2F2F;
}

.project-pop .project-pop-outline .project-pop-index{
  	/*background-color: rgb(244, 244, 244);*/
    height: 92%;
    background-image: url('../img/9.png');
    background-size: cover;
}
.project-pop .project-pop-outline .cancle_button a{
  margin-right: 1rem;
}
.project-pop .project-pop-outline .cancle_button a img{
  height: 20px;
  width:auto;
}
.project-pop .project-pop-outline .cancle_button{
  display: flex;
  justify-content: flex-end;
  align-items:center;
  background-color: rgb(244, 244, 244);
  height: 8%;
  width:100%;
}
=======
>>>>>>> cfca7f5f4de9f0f0ec5c3c5e561d736e1636eaa2
