#index_1{
  background-image: url('../img/bg/bg_project_1.png');
  background-size: cover;
}
#index_2{
  background-image: url('../img/bg/bg_project_2.png');
  background-size: cover;
}
#index_3{
  background-image: url('../img/bg/bg_project_3.png');
  background-size: cover;
}
#index_4{
  background-image: url('../img/bg/bg_project_4.png');
  background-size: cover;
}
#index_5{
  background-image: url('../img/bg/bg_project_5.png');
  background-size: cover;
}
